/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-color: #f7f7f7;
  color: #333;
}

/* Header styles */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: 1.5rem;
}

/* Main styles */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 120px);
}

ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

/* Task item styles */
.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.item:hover {
  background-color: #f1f1f1;
}

.item input[type="checkbox"] {
  cursor: pointer;
  margin-right: 1rem;
}

.item > label {
  font-size: 1.2rem;
  flex-grow: 1;
  word-break: break-all;
}

.item svg {
  font-size: 1.5rem;
  color: #3f51b5;
  cursor: pointer;
  transition: color 0.3s ease;
}

.item svg:focus,
.item svg:hover {
  color: #ff5252;
}

/* Add and search form styles */
.addForm,
.searchForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #eeeeee;
  width: 80%;
  margin: 0 auto;
}

.addForm input[type='text']
 {
  flex-grow: 1;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #cccccc;
  outline: none;
  width: 90%;
}
.searchForm input[type='text']
{
  flex-grow: 1;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #cccccc;
  outline: none;
  width: 75%;
}

.addForm button,
.searchForm button {
  padding: 0.75rem 1rem;
  font-size: 1.2rem;
  color: white;
  background-color: #3f51b5;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 30px;
}

.addForm button:focus,
.addForm button:hover,
.searchForm button:focus,
.searchForm button:hover {
  background-color: #303f9f;
}

/* Footer styles */
footer {
  background-color: #3f51b5;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hover and Active states */
.item input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  color: #bdbdbd;
}

/* Additional Styles */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
  width: 80%;
  max-width: 800px;
  padding: 1rem;
  overflow-y: auto;
}

.header-title {
  text-align: center;
}

.addForm,
.searchForm {
  margin: 0.5rem 0;
}

.addForm input[type='text'],
.searchForm input[type='text'] {
  transition: border-color 0.3s ease;
}

.addForm input[type='text']:focus,
.searchForm input[type='text']:focus {
  border-color: #3f51b5;
}

.loading-message {
  font-size: 1.2rem;
  text-align: center;
}

.error-message {
  font-size: 1.2rem;
  text-align: center;
  color: #f44336;
}

/* Custom Button Styles */
.custom-button {
  padding: 0.75rem 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background-color: #3f51b5;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-button:focus,
.custom-button:hover {
  background-color: #303f9f;
}

/* Custom Dropdown Styles */
.custom-dropdown {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  margin-left: 20px;
}

.custom-dropdown select {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #cccccc;
  outline: none;
  cursor: pointer;
}
#search{
  font-weight: bold;
  padding-right: 75px;
}
#additem{
  font-weight: bold;
  padding-right: 60px;
}
#selectuser{
  font-weight: bold;
  padding-right: 30px;
}
/* Custom Error Styles */
.custom-error {
  font-size: 1.2rem;
  font-weight: bold;
  color: #f44336;
  text-align: center;
}

#filterBy {
  font-weight: bold;
  padding-right: 60px;
  padding-bottom: 50px; /* Adjust this padding as needed */
}

/* Media Queries */
@media (max-width: 768px) {
  main {
    width: 100%;
  }
}
